@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import 'tailwindcss';

@theme {
  --color-background: oklch(0.145 0 0);
  --color-foreground: oklch(0.985 0 0);
  --color-border: oklch(0.269 0 0);
  --color-ring: oklch(0.439 0 0);
  --color-card: oklch(0.2 0 0);
  --color-paragraph: oklch(0.8 0 0);
}

@layer base {
  body {
    @apply bg-background text-foreground;
    font-family: 'Lexend Deca', sans-serif;
  }

  button {
    cursor: pointer;
  }

  button:disabled {
    cursor: not-allowed;
  }

  .container-with-px {
    @apply container mx-auto px-4 md:px-8;
  }
}
